# Data Science Tools and Ecosystem
### In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**:

* libraries names knowledge
* basics of markdown
* tables

### Some of the commonly used libraries used by Data Scientists include:
1. Python
2. C
3. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. Matplotlib
3. Pandas

| Data Science Tools       |
|--------------------------|
| Vscode                   |
| Pycharm                   |
| Conda                   |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
2+2

4

In [2]:
3-1

2

In [6]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
def convert_minutes_into_hours(minutes):
    hours1 = minutes//60
    hours2 = minutes%60
    print(f'{hours1}:{hours2}')
convert_minutes_into_hours(200)

## Author 
Daniel Briquez